<section *ngIf="items.length > 0">
    <div class="cart_container">
        <div class="back_container">
            <button routerLink="/Rent"><img src="assets/img/left-arrow.svg" alt="Back Button"></button>
        </div>
        <div *ngFor="let list of items" class="rent_card" >
            <div>
                <img src="{{list.img}}" alt="Img House/Aparment" class="rent_img">
            </div>
            <div class="rent_info">
                <div>
                    <img src="assets/img/icono_innovar.svg" alt="Icon Innovar" class="rent_icon">
                    <h2>{{list.location}}</h2>
                    <h2>$ {{list.price}}</h2>
                </div>
            </div>
            <div class="rent_option">
                <div>
                    <div class="card_icons">
                        <img src="assets/img/bath.svg" alt="Bath Icon">
                        <h2>{{list.bath}}</h2>
                    </div>
                    <div class="card_icons">
                        <img src="assets/img/bed.svg" alt="Bath Icon">
                        <h2>{{list.room}}</h2>
                    </div>
                </div>
                <button type="button" (click)="deleteItem(list)" class="rent_button" id="button_add">Remover</button>
            </div>
        </div>

    </div>
    
    <div class="whatsapp_button">
        <button type="button" (click)="send()">
            <img src="assets/img/whatsapp.svg" alt="Whatsapp Icon">
            <h2>Proceder</h2>
        </button>
    </div>
    <div class="clear_all_button">
        <button type="button" (click)="deleteCart()"class="clear_button" id="button_add">Borrar Todo</button>
    </div>
</section>

<ng-container *ngIf="items.length ==0">
    <div class="back_container">
        <button routerLink="/Rent"><img src="assets/img/left-arrow.svg" alt="Back Button"></button>
    </div>
    <div>
        <h2 class="empty_cart"> Todavía no has <br>
        seleccionado ningún <br>
        producto</h2>
    </div>
</ng-container>

<section>
    <div class="cart_footer">
        <h1>®</h1>
        <h2>Todos los derechos reservados</h2>
    </div>
</section>
