<section>
    <div class="footer_container">
        <div class="footer_img">
            <img src="assets/img/icono_innovar.svg" alt="Innovar Icon">
        </div>
        <div class="footer_options">
            <h2>Acerca de nosotros</h2>
            <h2>Contáctanos</h2>
            <h2>Preguntas Frecuentes</h2>
            <h2>Políticas</h2>
        </div>
        <div class="footer_options">
            <h2>Trabaja en Innovar</h2>
            <h2>Postúlate</h2>
            <h2>Anuncia con nosotros</h2>
        </div>
        <hr>
        <div class="footer_end">
            <h2>Cuenca, Ecuador</h2>
        </div>
    </div>
</section>