.rent_card
    background: white
    width: 320px
    border-radius: 25px
    margin: 3rem auto
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25)


.rent_img
    width: 320px
    height: 255px
    border-top-right-radius: 25px
    border-top-left-radius: 25px
    display: flex
    justify-content: center

.rent_icon
    margin-top: 1rem
    width: 50px
    height: 50px

.card_icons
    display: flex
    align-items: center

.rent_info
    display: flex
    justify-content: center
    align-items: center
    text-align: center

.rent_button
    border: none
    background: #1D1D1B
    color: white
    padding: 15px
    border-radius: 25px
    font-size: 18px
    width: 143px
    font-family: "Raleway"
    font-weight: 700
    cursor: pointer

.rent_button:hover
    background: #057EFF

.rent_option
    display: flex
    justify-content: space-around
    align-items: center
    padding: 15px

.shopping_button
    display: flex
    flex-direction: column

.shopping_button button
    padding: 10px
    background: #1D1D1B
    border: none
    border-radius: 25px
    color: white
    font-family: "Raleway", sans-serif
    font-weight: 700
    font-size: 18px
    cursor: pointer
    text-align: center
    margin: 0 auto 1rem
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25)

.shopping_button button:hover
    background: white
    color: #1D1D1B

.house_button
    width: 100px

.apartment_button
    width: 150px
    
@media screen and (min-width: 650px)
    section
        display: flex
        justify-content: space-evenly
        flex-flow: row wrap
