.swiper_container
    display: flex
    justify-content: center

.slides_img
    width: 278px
    height: 278px
    border-radius: 25px

.mySwiper
    width: 288px
    margin-top: 3rem

@media screen and (min-width: 650px)
    .slides_img
        width: 578px
        height: 578px
    
    .mySwiper
        width: 588px
    

