<div class="header_container">
    <div>
        <img src="assets/img/logo_innovar.png" alt="Innovar Logo" class="header_innovar">
    </div>
    <div>
        <img src="../../../assets/img/facebook.svg" alt="Facebook Logo" class="header_icons">
        <img src="../../../assets/img/instagram.svg" alt="Instagram Logo" class="header_icons">
        <img src="../../../assets/img/tiktok.svg" alt="TikTok Logo" class="header_icons">
        <img src="../../../assets/img/youtube.svg" alt="Youtube Logo" class="header_icons">
    </div>

</div>