<div class="header_container">
    <div>
        <img src="assets/img/logo_innovar.png" alt="Innovar Logo" class="header_innovar">
    </div>
    <div>
        <a href="https://www.facebook.com/Innovarbienesraices/"><img src="assets/img/facebook.svg" alt="Facebook Logo" class="header_icons"></a>
        <a href="https://www.instagram.com/innovarbienesraices/"><img src="assets/img/instagram.svg" alt="Instagram Logo" class="header_icons"></a>
        <a href="https://www.tiktok.com/@innovarbienesraices?lang=es"><img src="assets/img/tiktok.svg" alt="TikTok Logo" class="header_icons"></a>
        <a href="https://www.youtube.com/channel/UCp3eCEtK78dz964eS6ruK8g"><img src="assets/img/youtube.svg" alt="Youtube Logo" class="header_icons"></a>
    </div>

</div>