<div>
    <h2 class="home_title">Oferta de Inmuebles</h2>
    <div class="home_card">
        <figure><img src="assets/img/building.svg" alt="Building Icon" class="home_icon"></figure>
        <h2>532</h2>
        <h2>Apartamentos en Venta</h2>
    </div>
    <div class="home_card">
        <figure><img src="assets/img/home.svg" alt="Building Icon" class="home_icon"></figure>
        <h2>167</h2>
        <h2>Casas en Venta</h2>
    </div>
    <div class="home_card">
        <figure><img src="assets/img/medical.svg" alt="Building Icon" class="home_icon"></figure>
        <h2>83</h2>
        <h2>Consultorios en Alquiler</h2>
    </div>
</div>

