.home_card
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background: white
    width: 297px
    margin: 3rem auto
    border-radius: 25px
    padding: 25px
    text-align: center
    font-size: 10pt
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25)

.home_icon
    width: 68px
    height: 68px
    margin-bottom: 1rem

.home_title
    text-align: center
    margin-top: 3rem

.home_help
    color: #057EFF
    text-align: center
    margin-bottom: 2rem

.help_icons
    display: flex
    justify-content: center
    margin-bottom: 3rem

.help_icons_svg
    width: 68px
    height: 68px

.help_text
    text-align: center
    margin-bottom: 2rem

.help_ecuador
    text-align: center
    margin-bottom: 3rem

.ecuador
    width: 331px
    height: 175px
    border-radius: 25px

.ecuador_container
    display: flex
    justify-content: center
    margin-bottom: 3rem

@media screen and (min-width: 650px)
    .cards_container
        display: flex
        justify-content: space-evenly
        flex-wrap: wrap

    .help_icons
        flex-direction: column
        align-items: center

    .help_container
        display: flex
        justify-content: space-evenly
        align-items: center

    .flag_container
        display: flex
        justify-content: space-evenly
        align-items: center

