<app-slider></app-slider>
<section>
    <h2 class="home_title">Oferta de Inmuebles</h2>
    <div class="home_card">
        <figure><img src="assets/img/building.svg" alt="Building Icon" class="home_icon"></figure>
        <h2>532</h2>
        <h2>Apartamentos en Venta</h2>
    </div>
    <div class="home_card">
        <figure><img src="assets/img/home.svg" alt="Building Icon" class="home_icon"></figure>
        <h2>167</h2>
        <h2>Casas en Venta</h2>
    </div>
    <div class="home_card">
        <figure><img src="assets/img/medical.svg" alt="Building Icon" class="home_icon"></figure>
        <h2>83</h2>
        <h2>Consultorios en Alquiler</h2>
    </div>
</section>
<section>
    <h2 class="home_help"> CONSIGUE LA <br>
        CASA DE TUS SUEÑOS <br>
        CON NOSOTROS
    </h2>
    <div class="help_text">
        <h2>1. Te ahorramos tiempo.</h2>
        <h2>2. Te asesoramos financiera <br> y legalmente.</h2>
        <h2>3. Te facilitamos tu búsqueda.</h2>
        <h2>4. Te garantizamos una <br> transacción segura y <br>
            exitosa.
        </h2>
    </div>
    <div class="help_icons">
        <img src="assets/img/shield.svg" alt="Shield" class="help_icons_svg">
        <img src="assets/img/watch.svg" alt="Watch" class="help_icons_svg">
        <img src="assets/img/money.svg" alt="Money Icon" class="help_icons_svg">
        <img src="assets/img/search.svg" alt="Search Icon" class="help_icons_svg">
    </div>
</section>
<section>
    <div class="ecuador_container">
        <img src="assets/img/flag_ecuador.jpg" alt="Ecuador Flag" class="ecuador">
    </div>
    <h2 class="help_ecuador">Te conseguiremos tu hogar <br>
        en todo el territorio de <br>
        Ecuador</h2>
</section>
<app-footer></app-footer>